{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {

        "comma-dangle": ["error", "never"],

        "indent": ["error", 4],

        "jsx-a11y/href-no-hash": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-tag-spacing": "off",

        "import/no-unresolved": "off",
        "import/extensions": "off"
    }
}
